.tag-life {
  background-color: #d2e6b5;
  color: #84a753;
}

.tag-internship {
  background-color: #ccdeeb;
  color: #5480c8;
}

.tag-university {
  background-color: #ebcccc;
  color: #c86054;
}

.tag-developer {
  background-color: #fdf2ab;
  color: #dbb34c;
}

.image-caption {
  width: 80%;
  margin: auto;
  @media (max-width: 768px) {
    width: 100%;
  }

  p {
    font-size: 90%;
    opacity: 80%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
  }
  img {
    margin-bottom: 2px;
  }
}
